.kabir{
  margin-left: 8px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5) !important;
}

.kabir:hover{

color: white !important;
}

.logo{
  font-weight: 600;
}

.abc{
  position: relative;
}