.carousel-control-prev-icon{
  background-image: none !important;
}


.carousel-control-next-icon{
  background-image: none !important;
}

.carousel-indicators{
  display: none;
}

.property-item{
  width: 94% !important;
}